! Use a nice truetype font and
! Name
Xterm*termName: xterm-256color size by default... 
xterm*faceName: Source Code Pro 
xterm*faceSize: 11

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box colours...
xterm*foreground: rgb:a8/a8/a8
xterm*background: rgb:00/00/00
xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:00/00/a8
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:a8/a8/a8
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:54/54/fc
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:fc/fc/fc

! right hand side scrollbar...
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false


rofi.font: Anonymous Pro, Regular, 15

rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c


! URxvt
urxvt.termName: xterm-256color
urxvt.scrollBar: false
!urxvt.background: Black
!urxvt.foreground: Green
urxvt.font: xft:mononoki:antialias=true:pixelsize=12
urxvt.iso14755: False
URxvt.intensityStyles: false
! Tango theme

urxvt.background: #1C1C1C
urxvt.foreground: #DEDEDE

! black
urxvt.color0  : #2E3436
urxvt.color8  : #555753
! red
urxvt.color1  : #CC0000
urxvt.color9  : #EF2929
! green
urxvt.color2  : #4E9A06
urxvt.color10 : #8AE234
! yellow
urxvt.color3  : #C4A000
urxvt.color11 : #FCE94F
! blue
urxvt.color4  : #3465A4
urxvt.color12 : #729FCF
! magenta
urxvt.color5  : #75507B
urxvt.color13 : #AD7FA8
! cyan
urxvt.color6  : #06989A
urxvt.color14 : #34E2E2
! white
urxvt.color7  : #D3D7CF
ururxvt.color15 : #EEEEEC
